<div class="about-grid">
    <section class="about-text">
        <h2>Über Vegan in Leipzig</h2>
        <div class="description">
            <p> Vegan-in-Leipzig.de ist ein Kooperationsprojekt der Leipziger Gruppen ProVeg Leipzig, Animal Rebellion Leipzig, Animal Liberation Leipzig, Tierbefreier*innen Leipzig, Pro Lebensglück und des PETA Streetteam Leipzig. </p>

            <p> Unser Gemeinschaftsprojekt verfolgt keine kommerziellen Ziele und wird ausschließlich ehrenamtlich durch Freiwillige gestützt. Wir bitten daher auch von Anfragen mit kommerziellen Hintergrund abzusehen. </p>

            <p class="disclaimer">Hinweis: Jede Gruppe agiert eigenständig. Die Plattform dient als Vermittler für Austausch und Engagement.</p>
        </div>
    </section>

    <section class="about-partners">
        <h3></h3>
        <div class="logo-wall">
            <img src="{{ '/images/Vegan-in-Leipzig-Logo-300x208.png' | url }}" alt="ViL Logo" class="partner-logo main-logo" />
            <div class="partner-grid">
                <a href="https://proveg.org/de/" target="_blank">
                    <img src="{{ '/images/PVL_Logo_VegiL_Footer-150x150.png' | url }}" alt="ProVeg">
                </a>
                <a href="https://animal-rebellion.org/leipzig" target="_blank">
                    <img src="{{ '/images/AR-Logo_VegiL_Footer_1-150x150.png' | url }}" alt="Animal Rebellion">
                </a>
                <a href="https://tierbefreier.org/tbleipzig/" target="_blank">
                    <img src="{{ '/images/TB-Leipzig_1_Logo_VegiL_Footer-2-150x150.png' | url }}" alt="Tierbefreier">
                </a>
                <a href="https://animalliberationleipzig.org/" target="_blank">
                    <img src="{{ '/images/ALL_Logo_VegiL_Footer_2-150x150.png' | url }}" alt="Animal Liberation">
                </a>
                <a href="https://pro-lebensglueck.de/" target="_blank">
                    <img src="{{ '/images/PLG_Logo_VegiL_Footer_2-1-150x150.png' | url }}" alt="Pro Lebensglück">
                </a>
                <a href="https://www.gemeinsam-fuer-tierrechte.de/" target="_blank">
                    <img src="{{ '/images/PETA_ZWEI_STREET_TEAM_Logo_VegiL-150x150.png' | url }}" alt="PETA Streetteam">
                </a>
            </div>
        </div>
        <div class="social-connect">
            <h3>Folge uns</h3>
                <ul class="icons-row">
                    <li><a href="{{ data.facebook }}" class="icon brands fa-facebook-f"></a></li>
                    <li><a href="{{ data.instagram }}" class="icon brands fa-instagram"></a></li>
                    <li><a href="{{ data.telegram }}" class="icon brands fa-telegram"></a></li>
                    <li><a href="{{ data.youtube }}" class="icon brands fa-youtube"></a></li>
                </ul>
        </div>
    </section>

</div>