<section id="donation-section" class="main">
    <h1>Unterstütze uns</h1>
    <div class="donation-wrapper">
        <iframe 
            src="https://spenden.twingle.de/transformation-fordern-e-v/tierrechtskongress/tw6983028ce7f5e/page" 
            title="Spendenformular">
        </iframe>
    </div>
</section>