	<!-- Footer -->
	<footer id="footer">
		<a href="https:www.vegan-in-leipzig.de/nutzungsbedingungen">Nutzungsbedingungen</a>
		<a href="https:www.vegan-in-leipzig.de/datenschutzerklaerung/">Datenschutzerklärung</a>
		<a href="https:www.vegan-in-leipzig.de/impressum">Impressum</a>
	</footer>