<head>
	<title>{{ title }} | Vegan in Leipzig</title>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
	<link rel="stylesheet" href="{{ '/assets/css/main.css' | url }}" />
	<link rel="stylesheet" href="{{ '/assets/css/custom.css' | url }}" />
	<noscript><link rel="stylesheet" href="{{ '/assets/css/noscript.css' | url }}" /></noscript>
</head>


<section class="header">
    <img 
        src="{{ '/images/Vegan-in-Leipzig-Logo-300x208.png' | url }}" alt="Vegan in Leipzig Logo" />
</section>
    <img class="filler" src="{{ '/images/spacer.png' | url }}" alt="Vegan in Leipzig Logo" />
